django
django-extensions
pip-tools
langchain
langchain-community
langchain-openai
#psycopg2
djangorestframework
markdown
django-filter
unstructured
faiss-cpu
langchainhub
fake_useragent
beautifulsoup4
langchain-text-splitters
tiktoken